<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD app</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">
    <script src="https://kit.fontawesome.com/eb87db986c.js" crossorigin="anonymous"></script>
</head>
<body>
<h1 class="w3-center" style="font-family: 'Pontano Sans', sans-serif;">Django CRUD Application</h1>
<div class="table-container">
    <div class="box-1">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone No</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="w3-large">
                <tr>
                <td>Abdul</td>
                <td>Aziz</td>
                <td>903491231</td>
                <td>
                    <form name="edit_button" action="#"  style="display: inline-block; opacity: 0.7;">
                        <input type="image" name="edit" src="{% static 'images/edit.svg' %}" alt="change" width="32" height="32">
                    </form>
                    <form name="delete_button" action="#" style="display: inline-block; opacity: 0.7;">
                        <input type="image" name="delete" src="{% static 'images/trash.svg' %}" alt="dispose" width="32" height="32">
                    </form>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="box-2" style="display: inline; float: right;">
        <p><button id="add_button" class="w3-btn w3-deep-purple w3-round-large" style="width: 7rem; height: 5.25rem;">
            <span class="w3-badge w3-deep-purple" ><img src="{% static 'images/add.svg' %}" alt="plus" style="width: 3.5rem;"></span>
            </button></p>
    
        <div id="input_model" class="modal">
    
        <div class="modal-content">
        <div class="container">
            <form method="POST">
            {% csrf_token %}
              <label for="fname">First Name</label>
              <input type="text" id="fname" name="firstname" placeholder="Enter First Name">
          
              <label for="lname">Last Name</label>
              <input type="text" id="lname" name="lastname" placeholder="Enter Last Name">
          
              <label for="phone">Phone No</label>
              <input type="text" id="phone" name="phoneno" placeholder="Enter Phone no">
              <p class="w3-large"><button type="submit" class="btn_submit">Save <i class="fas fa-database" style="font-size:20px; margin-left:5px;"></i></button>
              <span class="close"><button type="button" class="btn_cancel">Back <i class="fas fa-backspace" style="font-size:20px;"></i></button></span>
            </form>
          </div>
        </div>
    
    </div>
    </div> 
</div>
</body>
<script>
    // Get the modal
var modal = document.getElementById("input_model");

var btn = document.getElementById("add_button");

var span = document.getElementsByClassName("close")[0];

btn.onclick = function() {
  modal.style.display = "block";
}

span.onclick = function() {
  modal.style.display = "none";
}

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

</script>
</html>